---
- name: Import common_hanlders
  ansible.builtin.import_role:
    name: jonsible.iac.common_handlers

- name: Updating apt cache if older than 24h
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
  changed_when: false

- name: Install packages
  become: true
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop:
    - iptables
    - iptables-persistent

- name: Setup sshd
  ansible.builtin.import_tasks: ssh.yml

- name: Setup fail2ban
  ansible.builtin.import_tasks: fail2ban.yml
  when: machine_type == "bare"

- name: Setup iptables
  ansible.builtin.import_tasks: iptables.yml






